
.cntent{
    width: 1344px;
    display: flex;
    position: relative;
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 60px;
    
    .categoryImg{
        width: 100%;
        height: 544px;
        border-radius: 24px;  
        
    }
    @mixin text{
        position: absolute;
        font-style: medium;
     
    }
    p{
        font-family: 'Montserrat';
        color:#FFFFFF;
        line-height: 20px;
        
    }
    .top-left{
        @include text;
        top: 42px;
        left: 42px;
        font-size: 24px;
        line-height: 29.6px;
    }
    .top-left-bottom{
        @include text;
        top: 82px;
        left: 42px;
        font-size: 16px;
        line-height: 19.5px;
    }
    .top-right {
        position: absolute;
        top: 42px;
        right: 96px;
        font-size: 24px;
        line-height: 29.26px;
      }
    .bottom-left{
        width: 84px;
        height: 75px;
        text-align: center;
        border-radius: 15px;
        position: absolute;
        bottom: 64px;
        left: 42px;
        background-color: rgba(255, 255, 255, 0.4);

        .bottom-left-img{
            width: 19.3px;
            height: 24px;
            margin-top: 18.72px;

        }
}
@media screen and(max-width:1689px){
    
    max-width: 1300px;
    height: 534px;
       
    .categoryImg{
            
        height: auto;
    }
      
}
@media screen and (max-width:1661px){
    
    max-width: 1260px;
  
}
@media screen and (max-width:1585px){
    
    max-width: 1210px;
    height: 524px;
    
}
@media screen and (max-width:1562px){
    
    max-width: 1195px;
    
}
@media screen and (max-width:1541px){
    
    max-width: 1180px;
    
  
}
@media screen and (max-width:1506px){
    
    max-width: 1140px;
    
  
}
@media screen and (max-width:1439px){
    
    max-width: 1090px;
    height: 514px;
  
}
@media screen and (max-width:1425px){
    
    max-width: 1050px;

  
}
@media screen and (max-width:1377px){
    
    max-width: 1020px;

  
}
@media screen and (max-width:1327px){
    
    max-width: 1000px;
    height: 419px;

  
}
@media screen and (max-width:1313px){
    
    max-width: 960px;
    height: 414px;
  
}
@media screen and (max-width:1195px){
    
    max-width: 818px;
    height: 427px;

}
@media screen and (max-width:1068px){
    
    max-width: 700px;
    height: 320px;

}
@media screen and (max-width:928px){
    
    max-width: 644px;
    height: 274px;
    margin-left: 30px;
    margin-right: 30px;
}
@media screen and (max-width:817px){
    
    max-width: 600px;
    margin-left: 21px;
    margin-right: 21px;

    .bottom-left{
        width: 58px;
        height: 54px;
        bottom: 32px;
        left: 19px;
        .bottom-left-img{
            width: 13.33px;
            height: 17.28px;
           
        }
    }
   
    .top-right { 
        top: 21px;
        right: 21px;
        
    }
    .top-left{
        top: 21px;
        left: 21px;
    }
    .top-left-bottom{
        top: 44px;
        left: 21px;
        line-height: 20px;
    }
    .top-right {
        top: 21px;
        right: 42px;
        font-size: 16px;
        line-height: 20px;
      }
  
}
    @media screen and (max-width: 741px){
            max-width: 599px;
            height: 274px;

    }
}

